:root {
  --column-count: 6;
  --column-gap: 60px;
  --back-color: #fefff0;
}

h2 {
  background-color: var(--back-color);
  min-width: 300px;
  max-width: 900px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.results-div {
  border: black 2px;
  border-style: solid;
  padding: 15px;
  min-width: 300px;
  max-width: 900px;
  background-color: var(--back-color);
}

ul {
  -moz-column-count: var(--column-count);
  -moz-column-gap: var(--column-gap);
  -webkit-column-count: var(--column-count);
  -webkit-column-gap: var(--column-gap);
  column-count: var(--column-count);
  column-gap: var(--column-gap);
  list-style-type: none;
}
